name: Flutter CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  code-check:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Repository
        uses: actions/checkout@v5

      - name: Cache pub packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock', '**/**/pubspec.lock') }}
          restore-keys: ${{ runner.os }}-pub-

      - name: Set up Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          cache: true

      - name: Get Flutter packages
        run: |
          flutter pub get

      - name: Static analysis
        run: flutter analyze --no-fatal-infos --fatal-warnings